body {
    background-image: url("../img/numbers.jpg");
    color: black;
    margin: 0 auto;
    text-align: center;
}

h1 {
    display: inline-block;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.info {
    display: inline-block;
    background-color: white;
    min-height: 1.3em;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 3px;
}

#feedback {
    display: inline-block;
    font-size: 1.2em;
    margin-block: 15px;
    background-color: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    text-decoration: underline;  
}