h1 {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

body {
    text-align: center;
    background-image: url("../img/background.jpg");
    background-position: center;
    color: rgb(19, 19, 19);
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.row img {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.valueDisplay {
    display: inline-block;
    margin-bottom: 20px;
}

#endMessage {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 20px;
}