* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #9eb6e5;
    background-color: #0d1321;
    padding: 10px;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-align: center;
    font-size: 1.5em;
    background-color: #eaf0ce;
    border: 1px solid #0d1321;
    text-decoration: none;
    color: #0d1321;
    display: inline;
    padding: 4px;
    margin-inline: 2px;
    transition: border-color 0.2s ease;
}

nav a:hover {
    border: 1px solid #9eb6e5;
}

.listTitle {
    margin-bottom: 5px;
    text-decoration: underline;
    font-weight: 1000;
}

ul {
    text-align: left;
    list-style-position: inside;
}

body {
    background-color: #ceddff;
}

aside {
    border: 1px solid #0d1321;
    padding: 5px 20px;

}

.mainText {
    color: #0d1321;
    font-size: 1.5em;
}

main {
    margin-bottom: 25px;
    justify-self: center;
    text-align: center;
}

#malwareText {
    width: 900px;
    text-align: left;
}

#cryptographyText {
    width: 730px;
    text-align: left;
}

#accessText {
    width: 1025px;
    text-align: left;
}

#cryptographyImg {
    width: 400px;
}


.row {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 40px;
}

figure {
    width: 25%;
}

figure img {
    width: 100%;
    height: 100%;
    border: 2px solid #0d1321;
}

figure figcaption {
    text-align: center;
    font-size: 1.5em;
    font-weight: 1000;
    background-color: #eaf0ce;
    border: 2px solid #0d1321;
    width: 100%;
    transition: border-color 0.2s ease;
}

figure figcaption:hover {
    border: 2px solid #9eb6e5;
}

figure figcaption a {
    text-decoration: none;
    color: #0d1321;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}

footer {
    margin: 80px;
    text-align: center;
    color: grey;
}

footer a {
    color: grey;
}