body {
    background-image: url("../img/img.jpg");
    color: black;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: blue;
    border: 1px solid white;
    background-color: lightblue;
}

h3 {
    margin: 0;
    color: black;
    background-color: white;
}

h4 {
    margin: 0;
    color: black;
    background-color: white;
}

h5 {
    margin: 0;
    color: black;
    background-color: white;
}

h6 {
    margin: 0;
    color: black;
    background-color: white;
}

